.wrapper {
    max-width: 616px;
    background: var(--color-bg);
    padding-inline: 24px;
    padding-block: 33px;
}

@media screen and (min-width: 616px) {
    .wrapper {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}

.address_info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 23px;
}

@media screen and (max-width: 534px) {
    .address_info {
        grid-template-columns: repeat(2, 1fr);
    }

    .address_info label:last-child {
        grid-column: 1 / span 2;
    }
}

.btn_div {
    position: relative;
    display: flex;
    width: calc(100% + 48px);
    justify-content: flex-end;
    gap: 7px;
    background-color: var(--color-bg-input);
    margin-inline: -24px;
    margin-bottom: -33px;
    padding-inline: 24px;
    padding-block: 21px;
}

@media screen and (min-width: 616px) {
    .btn_div {
        border-bottom-right-radius: 20px;
    }
}

.btn_div::before {
    content: '';
    position: absolute;
    left: 0;
    top: -64px;
    width: 100%;
    height: 64px;
    background: linear-gradient(to bottom, transparent, #0000001a);
}

.item_header {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.38px;
    line-height: 32px;
    color: #777F98;
    margin-bottom: 22px;
}

@media screen and (min-width: 534px) {
    .item_header {
        margin-bottom: 14px;
    }
}

.item_legend {
    display: flex;
    gap: 16px;
    margin-bottom: 15px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.1px;
    color: var(--color-label);
}

.item_legend > *:first-child {
    width: 214px;
}

.item_legend > *:nth-child(2) {
    width: 46px;
}

.item_legend > *:nth-child(3) {
    width: 100px;
}

@media screen and (max-width: 533px) {
    .item_legend {
        display: none;
    }
}

.form_item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 49px;
}

.form_item > label {
    margin-top: 0;
}

.form_item button {
    height: fit-content;
    width: fit-content;
    background-color: transparent;
    border: none;
    margin-top: 46px;
    margin-left: auto;
}

.form_item > * {
    width: 100%;
}

.form_item > div {
    display: flex;
    align-items: center;
    gap: 16px;
}

.form_item > div label:first-of-type input {
    width: 64px;
}

.form_item > div label:nth-of-type(2) input {
    width: 100px;
}

.form_item > div label:last-of-type p {
    line-height: 48px;
    color: var(--color-text-accent);
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.25px;
}

@media screen and (min-width: 534px) {
    .form_item {
        gap: 16px;
        width: 100%;
        margin-bottom: 18px;
    }

    .form_item > *:first-child {
        width: 214px;
    }

    .form_item > *:last-child {
        width: calc(100% - 214px - 16px);
    }

    .form_item > div label:first-of-type input {
        width: 46px;
        padding: 0;
        text-align: center;
    }

    .form_item label,
    .form_item button {
        margin-top: 0;
    }

    .form_item button {
        margin-left: auto;
    }

    .form_item label > span {
        display: none;
    }
}