.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.h1 {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-text-primary);
    letter-spacing: -0.75px;
    margin-bottom: 3px;
}

@media screen and (min-width: 481px) {
    .h1 {
        font-size: 36px;
    }
}

.headerRight {
    display: flex;
    align-items: center;
    gap: 12px;
}

.subheader {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.1px;
    color: var(--color-text-secondary);
}

.filter_btn_div {
    position: relative;
}

.filter_btn {
    display: flex;
    gap: 12px;
    align-items: center;
    border: none;
    background-color: transparent;
}

.filter_menu {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    row-gap: 15px;
    color: var(--color-text-primary);
    background-color: var(--color-bg-input);
    width: 192px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 10px 20px var(--color-box-shadow);
}

.filter_menu label {
    display: flex;
    gap: 8px;
}

.card {
    display: grid;
    row-gap: 24px;
    padding-block: 25px;
    padding-inline: 24px;
    background-color: var(--color-bg-input);
    border-radius: 8px;
    margin-block: 16px;
    box-shadow: 0px 10px 10px -10px var(--color-box-shadow);
}

@media screen and (min-width: 481px) {
    .card {
        display: flex;
        padding-block: 20px;
        width: 100%;
    }
}

.card_top,
.card_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card_bottom svg {
    rotate: 180deg;
}

@media screen and (min-width: 481px) {
    .card_top,
    .card_bottom {
        display: grid;
    }

    .card_top {
        flex-grow: 1;
        grid-template-columns: 80px 1fr 1fr;
    }

    .card_bottom {
        grid-template-columns: 1fr 104px 5px;
        column-gap: 20px;
    }

    .card_bottom > div:first-child {
        margin-right: 20px;
    }

    .card_bottom span:last-child {
        text-align: right;
    }
}

.card_bottom > div {
    display: grid;
    row-gap: 12px;
}

.bold_text {
    color: var(--color-text-primary);
    font-weight: 700;
    font-size: 15px;
    letter-spacing: -0.25px;
}

.accent_text {
    color: var(--color-text-accent);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.1px;
}