.wrapper {
    max-width: 730px;
    margin-inline: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.h1 {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-text-primary);
    letter-spacing: -0.75px;
    margin-bottom: 3px;
}

@media screen and (min-width: 701px) {
    .h1 {
        font-size: 36px;
    }
}

.headerRight {
    display: flex;
    align-items: center;
    gap: 12px;
}

.subheader {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.1px;
    color: var(--color-text-secondary);
}

.filter_btn_div {
    position: relative;
}

.filter_btn {
    display: flex;
    gap: 12px;
    align-items: center;
    border: none;
    background-color: transparent;
}

.filter_menu {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    row-gap: 15px;
    color: var(--color-text-primary);
    background-color: var(--color-bg-filter);
    width: 192px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 10px 20px var(--color-box-shadow);
}

.filter_menu label {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
}

.filter_menu svg {
    position: absolute;
    left: 3px;
    opacity: 0;
}

.filter_menu label:has(input[type='checkbox']:checked) svg {
    opacity: 1;
}

.filter_menu input[type='checkbox'] {
    appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 2px;
    background-color: var(--color-checkbox-background);
    cursor: pointer;
}

.filter_menu input[type='checkbox']:checked {
    background-color: var(--color-purple-primary);
}

.filter_menu label:is(:hover, :focus) input[type='checkbox'] {
    border: 1px solid var(--color-purple-primary);
}

.card {
    display: grid;
    row-gap: 24px;
    padding-block: 25px;
    padding-inline: 24px;
    background-color: var(--color-bg-input);
    border-radius: 8px;
    margin-block: 16px;
    box-shadow: 0px 10px 10px -10px var(--color-box-shadow);
    cursor: pointer;
}

@media screen and (min-width: 701px) {
    .card {
        display: flex;
        padding-block: 20px;
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .card {
        height: 72px;
    }
}

.card_top,
.card_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: 701px) {
    .card_top,
    .card_bottom {
        display: grid;
    }

    .card_top {
        flex-grow: 1;
        grid-template-columns: 90px 120px 1fr;
    }

    .card_bottom {
        grid-template-columns: 1fr 104px 5px;
        column-gap: 20px;
    }

    .card_bottom > div:first-child {
        margin-right: 20px;
    }

    .card_bottom span:last-child {
        text-align: right;
    }
}

.card_bottom > div {
    display: grid;
    row-gap: 12px;
}

.bold_text,
.filter_menu label {
    color: var(--color-text-primary);
    font-weight: 700;
    font-size: 15px;
    letter-spacing: -0.25px;
}

.accent_text {
    color: var(--color-text-secondary);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.1px;
}

.status,
.content {
    margin-block: 16px;
    padding: 24px;
    background-color: var(--color-bg-input);
    border-radius: var(--border-radius-item);
}

.status {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content {
    box-shadow: 0px 10px 10px -10px var(--color-box-shadow);
}

.content h5 {
    margin-bottom: 4px;
}

.content h5 > span {
    color: var(--color-text-accent);
}

.content h6 {
    margin-bottom: 13px;
}

.content p {
    line-height: 18px;
}

.invoice_info_address {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 31px;
}

.invoice_client_info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 32px;
    margin-bottom: 38px;
}

.client_address > p:first-of-type {
    margin-top: 13px;
    margin-bottom: 7px;
}

.invoice_dates > div:first-child {
    margin-bottom: 31px;
}

.client_email {
    grid-column: 1 / span 2;
}

.invoice_items {
    padding-top: 25px;
    background-color: var(--color-bg-items);
    border-radius: var(--border-radius-item);
    overflow: hidden;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 24px;
    margin-bottom: 24px;
}

.item_amount_due {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 24px;
    padding-block: 32px;
    color: white;
    background-color: var(--color-bg-amount-due);
}

.item_amount_due span:first-child {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.1px;
}

.item_price {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.25px;
    color: var(--color-add-item);
    margin-top: 8px;
}

.item_amount_due span:last-child {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.5px;
}

.btn_div {
    display: flex;
    gap: 8px;
    justify-content: center;
    background-color: var(--color-bg-input);
    margin-inline: -24px;
    margin-bottom: -33px;
    margin-top: 56px;
    padding-inline: 24px;
    padding-block: 21px;
}

.delete_modal {
    position: fixed;
    height: calc(100% - 72px);
    width: 100%;
    top: 72px;
    left: 0;
    background: #00000099;
    place-items: center;
    padding-inline: 24px;
}

.delete_modal_form {
    max-width: 480px;
    width: 100%;
    background-color: var(--color-bg-input);
    padding-inline: 32px;
    padding-block: 34px;
    border-radius: var(--border-radius-item);
}

.delete_modal_form > h3 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 32px;
    color: var(--color-text-primary);
}

.delete_modal_form > p {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.1px;
    line-height: 22px;
    color: #888EB0;
}

.delete_modal_form > div {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    margin-top: 22px;
}