#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: 100dvh;
    background: var(--color-bg);
    font-family: 'League Spartan';
}

main {
    position: relative;
    flex-grow: 1;
    overflow-y: scroll;
    padding-inline: 24px;
    padding-block: 32px;
    color: var(--color-text-primary);
}

@media screen and (min-width: 481px) {
    main {
        padding-inline: 48px;
        padding-block: 51px;
    }
}

button {
    padding: 6px;
    font-family: inherit;
}

button,
label {
    cursor: pointer;
}

@media only screen and (min-width: 1200px) {
    #root {
        flex-direction: row;
    }

    main {
        padding-block: 77px;
    }
}

.button {
    height: 48px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.25px;
    padding-inline: 24px;
}

.button.new {
    color: white;
    background-color: var(--color-purple-primary);
    transition: background-color 0.25s ease;
}

.button.new svg {
    fill: var(--color-purple-primary);
}

.button.edit {
    background-color: var(--color-bg-edit);
}

.button.delete {
    background-color: var(--color-red-primary);
}

.button.new:is(:hover, :focus) {
    background-color: var(--color-purple-secondary);
}

.button.add {
    width: 100%;
    background-color: var(--color-bg-items);
    margin-bottom: 88px;
    transition: background-color 0.25s ease;
}

.button.add:is(:hover, :focus) {
    background-color: #DFE3FA;
}

.button.add span {
    color: var(--color-add-item);
}

.button.add svg {
    fill: var(--color-add-item);
}

.button.save {
    color: white;
    background-color: var(--color-purple-primary);
}

.button.cancel,
.button.discard {
    color: var(--color-label);
    background-color: var(--color-bg-items);
}

.button.discard {
    margin-right: auto;
}

.button.draft {
    color: var(--color-text-secondary);
    background-color: #373B53;
}

fieldset {
    display: grid;
    border: none;
    margin-top: 22px;
    margin-bottom: 41px;
}

label {
    margin-top: 24px;
    color: var(--color-label);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.1px;
}

fieldset > label,
label > span {
    display: block;
    margin-bottom: 9px;
}

input,
select {
    background-color: var(--color-bg-input);
    height: 48px;
    border-radius: 4px;
    border: 1px solid var(--color-input-border);
    width: 100%;
    font-family: inherit;
    color: var(--color-text-primary);
    padding-inline: 20px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.25px;
    caret-color: var(--color-purple-primary);
}

input:is(:hover, :focus),
select:is(:hover, :focus) {
    outline: none;
    border: 1px solid var(--color-purple-primary);
}