#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: 100dvh;
    background: var(--color-bg);
    font-family: 'League Spartan';
}

main {
    position: relative;
    flex-grow: 1;
    overflow-y: scroll;
    padding-inline: 24px;
    padding-block: 32px;
}

@media screen and (min-width: 481px) {
    main {
        padding-inline: 48px;
        padding-block: 51px;
    }
}

button {
    padding: 6px;
    font-family: inherit;
}

button,
label {
    cursor: pointer;
}

@media only screen and (min-width: 1200px) {
    #root {
        flex-direction: row;
        align-items: center;
    }
}