@import url(https://fonts.googleapis.com/css?family=League+Spartan:100,000,300,regular,500,600,700,800,900);

:root {
  --color-text-primary: #0C0E16;
  --color-text-secondary: #888EB0;
  --color-text-accent: #7E88C3;
  --color-add-item: #7E88C3;
  --color-purple-primary: #7C5DFA;
  --color-purple-secondary: #9277FF;
  --color-red-primary: #EC5757;
  --color-red-secondary: #9277FF;
  --color-invoice-draft: #373B53;
  --color-bg-draft: #373B530F;
  --color-sidebar-primary: #373B53;
  --color-sidebar-secondary: #494E6E;
  --color-mode-indicator: #7E88C3;
  --color-label: #7E88C3;
  --color-bg: #F8F8FB;
  --color-bg-menu: #FFFFFF;
  --color-bg-input: #FFFFFF;
  --color-bg-filter: #FFFFFF;
  --color-bg-edit: #F9FAFE;
  --color-bg-discard: #F9FAFE;
  --color-bg-items: #F9FAFE;
  --color-bg-amount-due: #373B53;
  --color-input-border: #DFE3FA;
  --color-checkbox-background: #DFE3FA;
  --color-box-shadow: #48549f40;
  --border-radius-sidebar: 20px;
  --border-radius-item: 8px;
  --border-radius-button: 100px;
}

.dark-mode {
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #DFE3FA;
  --color-add-item: #888EB0;
  --color-invoice-draft: #DFE3FA;
  --color-bg-draft: #DFE3FA0F;
  --color-sidebar-primary: #1E2139;
  --color-sidebar-secondary: #494E6E;
  --color-mode-indicator: #858BB2;
  --color-label: #DFE3FA;
  --color-bg: #141625;
  --color-bg-menu: #141625;
  --color-bg-input: #1e2139;
  --color-bg-filter: #252945;
  --color-bg-items: #252945;
  --color-bg-amount-due: #0C0E16;
  --color-input-border: #252945;
  --color-checkbox-background: #1E2139;
  --color-box-shadow: #00000042;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.visually-hidden {
  display: none;
}

@media screen and (max-width: 700px) {
  .exclude-mobile {
    display: none;
  }
}

@media screen and (min-width: 701px) {
  .include-mobile {
    display: none;
  }
}